<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>Home Large - single-floor furnished residence</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Naturewill contributors</name>
  </author>
  <description>Original 48 x 32 m home, 18 rooms, primitive collision furniture, 0.862-1.262 m clear doors.</description>
</model>